#articulos_nuevos{
    --color_fondo: white;
    --color_borde: rgb(60, 112, 112);
    --tam_borde: 2px;
    --ancho_img: 400px;
    display:flex;
    justify-content: center;
    height: auto;
}
#articulos_nuevos article:nth-child(2){
    margin: 0px 5%;
}
#articulos_nuevos article{
    height: auto;
    width: var(--ancho_img);
    box-sizing: border-box;
    border: var(--tam_borde) solid var(--color_fondo);
    
}


#articulos_nuevos a{
    text-decoration: none;
    display:flex;
    align-items: end;
}
.box_img_art_nuevos{
    width: var(--ancho_img);
}
#articulos_nuevos img{
    width: var(--ancho_img);
    position:relative;
}
#articulos_nuevos p{
    width: calc( var(--ancho_img) - 30px);
    padding-left:10px;
    padding-bottom: 10px;
    position:absolute;
    z-index: 1;
    font-size:1.1em;
    color:white;

}


#articulos_nuevos article:hover{
    border: var(--tam_borde) solid var(--color_borde);
}