*{
    --height_encabezado_r: calc( var(--tam_img_titulo) + var(--tam_nav)  );
    --color_fondo_desplegable_1350: olive;
    --color_fondo_desplegable_550: var(--color_fondo_desplegable_1350);
}
@media screen and (max-width: 1875px) {
    #box_img_estrella{
        width: 30px;
        height: 30px;
    }
    #box_img_estrella img{
        width: 30px;
        height:30px;
    }
    #text_lista_de_seguimiento {
        display: none;
    }
}
@media screen and (max-width: 1650px) {
    header{
        height: var(--height_encabezado_r);
        display:block;
        text-align:center;
    }
    #box_img_titulo{
        display:block;
    }
    #box_nav{
        height: var(--tam_nav);
        display:flex;
    }
}
@media screen and (max-width: 1350px) {
    header {
        height: var(--height_encabezado_r);
    }
    #box_nav{
        display:flex;
        justify-content: center;
    }
    #text_menu_navegacion {
        height: var(--tam_nav);
        line-height: var(--tam_nav);
        display: block;
    }
    #menu_navegacion{
        width: 30%;
    }
    #lista_navegacion{
        width:400px;  /*cambiar a 100% para moviles*/
        margin:0px;
        padding: 0px;
        text-align:left;
        display:none;
    }
    #lista_navegacion li{
        background-color: var(--color_fondo_desplegable_1350);
        width: 100%;
        margin:0px;
        padding:0px;
        padding-left:12px;
        border:2px solid var(--color_fondo_desplegable_1350);
        box-sizing:border-box;
        display:none;
    }
    #menu_navegacion:hover ul{
        display:block;
        position:absolute;
    }
    #menu_navegacion:hover ul li{
        display: block;
        box-sizing: border-box;
        border:2px solid var(--color_fondo_desplegable_1350);
    }
    #menu_navegacion:hover ul li:hover{
        width:100%;
        border-radius:5px;
        border:2px solid aliceblue;
        box-sizing: border-box;

    }
    #box_other_navegacion{
        width:auto;
    }

    
    #text_lista_de_seguimiento {
        display: block;
    }
    #box_buscador{
        display:flex;
    }
}
@media screen and (max-width: 850px) {
    
    #text_lista_de_seguimiento{
        display:none;
    }


}
@media screen and (max-width: 550px) {
    #cuerpo_ajustado{
        width:100%;
    }
    header{
        width:100%;
    }
    #box_nav{
        width:100%;
    }
    #box_other_navegacion {
        width: calc( 100% - 40%);
        box-sizing: border-box;
        justify-content: right;
    }
    
    #menu_navegacion{
        width:40%;
        height: var(--tam_nav);
        
    }
    #text_menu_navegacion{
        width:100%;
        padding-left:10px;
        text-align: left;

    }
    #menu_navegacion:hover{
        background-color: var(--color_fondo_desplegable_550);
        width:100%;
        position:absolute;
        top:0px;
    }
    #menu_navegacion:hover p{
        display:none;/*como salgo del menu sin hacerle click al texto_menu?*/
    }
    #menu_navegacion:hover ul{
        width:100%;
        margin:0px;
        padding:0px;
        list-style:none;
    }
    #menu_navegacion:hover ul li{
        width:100%;
        margin:0px;
        padding:0px;
        padding-left:10px;
    }
    #menu_navegacion:hover ul li:hover{
        width:100%;
        z-index: 100;
    }
    #text_menu_navegacion:active{
        color:blueviolet;
    }
    #box_buscador{
        padding-right:30px;
        box-sizing: border-box;
    }
    #input_buscador {
        display: none;
    }
}

