* {
    --font_color: deepskyblue;
    --font_size: 20px;
    --tam_nav: 30px;
    --tam_img_titulo: calc( var(--tam_nav)*3);
    --tam_icon: calc( var(--tam_nav));
    
    margin: 0px;
    padding: 0px;
}
body{
    width:100%;
    display:flex;
    justify-content:center;
    font-size: var(--font_size);
    font-family: 'Nerko One', Georgia;
}
#cuerpo_ajustado{
    width:80%;
    display:block;
}

img{
    margin:0px;
    padding:0px;
}
header {
    height: 83px;
    margin:0px;
    display:flex;
    align-items: center;

}
header a{
    text-decoration:none;
}

#box_img_titulo{
    margin:0px;
    padding:0px;
    height: var(--tam_img_titulo); 
}
#box_img_titulo img{
    margin:0px;
    padding:0px;
    height: var(--tam_img_titulo); 

}

#box_nav{
    height: var(--tam_nav);
    display:flex;
}
#lista_navegacion {
    padding-left: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    text-align: center;
}
#lista_navegacion li{
    width:150px;
    margin: auto;
    padding: 0px;
    line-height:1.5;
    float:left;
    box-sizing: content-box;
    position:relative;
}
#text_menu_navegacion {
    display: none;
}
#lista_navegacion li a{
    font-size:1em;
    color: black;
}
#lista_navegacion li a:hover{
    color: deepskyblue;
}
#lista_navegacion li a:active{
    font-size:1.2em;
    line-height:0.97;
    color: black;
}


#box_other_navegacion{
    height: var(--tam_nav);
    display:flex;
    align-items:center;
}


#box_Lista_de_seguimiento{
    height: var(--tam_nav);
}
#box_Lista_de_seguimiento a{
    height: var(--tam_nav);
    margin:0px;
    padding:0px;
    display:flex;
    align-items:center;
}
#box_img_estrella{
    height: var(--tam_nav);
    margin:0px;
    padding:0px;
}

#box_img_estrella img{
    margin:0px;
    padding:0px;
    height: var(--tam_icon);
}

#box_Lista_de_seguimiento a p {
    padding: 0px 10px;
    box-sizing: border-box;
    color: var(--font_color);
}
#box_Lista_de_seguimiento a:hover{
    background-color: aliceblue;
}


#box_buscador{
    width: auto;
    margin:0px;
    padding:0px;
    height: var(--tam_nav);
}

#input_buscador {
    height: var(--tam_nav);
    margin:0px;
    padding:0px;
    text-align: center;
}
#boton_enviar{
    height: var(--tam_nav);
    margin:0px;
    padding:0px;
}
